{% extends "main/layouts/base.html" %}

from django.contrib.auth.forms import UserCreationForm

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Form Tambah Data User Story  -->
<div class="row">
    <div class="col-md-12">
        <h4 > Hasil Generate</h4>
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title"> Use Case Specification</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th >Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Use Case Name</td>
                    <td >{{ context.feature.feature_name }}</td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td >{{ context.feature.feature_actor }}</td>
                </tr>
                <tr>
                  <td>Action</td>
                  <td > {{ context.feature.feature_action }} </td>
                </tr>
                <tr>
                  <td>Initial Condition</td>
                  {% for z in context.condition|slice:"1" %}
                  <td > {{ z.tipe }} {{ z.content }} </td>
                  {% endfor %}
                </tr>
                <tr>
                  <td>Final Condition</td>
                  <td > {{ context.feature.feature_benefit }} </td>
                </tr>
                {% for p in context.scenario %}
                <tr>
                  <td>{{ p.scenario_name }}</td>
                  <td > Actors </td>
                  <td > Systems </td>
                </tr>
                {% for z in context.condition|slice:"1:" %}
                <tr>
                  <td></td>
                  {% if z.tipe != 'Then' %}
                  <td> {{ z.tipe }} {{ z.content }} </td>
                </tr>
                  {% else %}
                  <td></td>
                  <td> {{ z.tipe }} {{ z.content }} </td>
                </tr>
                  {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
                </div>
              </div>
            </div>
          </div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
