{% extends "layouts/base.html" %}

from django.contrib.auth.forms import UserCreationForm

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Form Tambah Data User Story  -->
<div class="row">
    <div class="col-md-12">
        <h4 > Hasil Generate</h4>
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title"> Use Case Specification</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th >Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Use Case Name</td>
                    <td > Name Feature</td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td > As an #Actor</td>
                </tr>
                <tr>
                  <td>Action</td>
                  <td > I want to #Action </td>
                </tr>
                <tr>
                  <td>Initial Condition</td>
                  <td > Given </td>
                </tr>
                <tr>
                  <td>Final Condition</td>
                  <td > So that I can #Benefit </td>
                </tr>
                <tr>
                  <td>Normal Scenario</td>
                  <td > Scenario Name #1 </td>
                </tr>
                <tr>
                  <td></td>
                  <td > Actors </td>
                  <td > Systems </td>
                </tr>
                <tr>
                  <td></td>
                  <td > bla </td>
                  <td ></td>
                </tr>
                <tr>
                  <td></td>
                  <td ></td>
                  <td >bla</td>
                </tr>
                <tr>
                  <td>Alternative Scenario</td>
                  <td>Scenario name #2</td>
                </tr>
                <tr>
                  <td></td>
                  <td > Actors </td>
                  <td > Systems </td>
                </tr>
                <tr>
                  <td></td>
                  <td > bla </td>
                  <td ></td>
                </tr>
                <tr>
                  <td></td>
                  <td ></td>
                  <td >bla</td>
                </tr>
                <tr>
                  <td>Exception Scenario</td>
                  <td>Scenario Name #3</td>
                </tr>
            </tbody>
        </table>
                </div>
              </div>
            </div>
          </div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
