{% extends "main/layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<!-- prism css -->
<link rel="stylesheet" href="/static/assets/css/plugins/prism-coy.css">
<!-- vendor css -->
<link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Help and Documentation</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Help and Documentation</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
                <!-- [ fixed-layout ] start -->
				<div class="row">
					<!-- [ form-element ] start -->
					<div class="col-sm-12">
						<div class="card col-md-12">
					<div class="accordion" id="accordionExample">
						<div class="card mt-3">
							<div class="card-header" style="background-color:white" id="headingOne">
								<h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Tutorial</a></h5>
							</div>
							<div id="collapseOne" class=" card-body collapse show"  style="background-color:white" aria-labelledby="headingOne" data-parent="#accordionExample">
								Tutorial adalah.......
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingTwo">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Create Project</a></h5>
							</div>
							<div id="collapseTwo" class="collapse card-body" style="background-color:white" aria-labelledby="headingTwo" data-parent="#accordionExample">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
								eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
								sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
								sustainable VHS.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingThree">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">List Project</a></h5>
							</div>
							<div id="collapseThree" class="card-body collapse" style="background-color:white" aria-labelledby="headingThree" data-parent="#accordionExample">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
								eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
								sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
								sustainable VHS.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingFour">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">View Project</a></h5>
							</div>
							<div id="collapseFour" class="card-body collapse" style="background-color:white" aria-labelledby="headingFour" data-parent="#accordionExample">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
								eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
								sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
								sustainable VHS.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingFive">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Create Scenario</a></h5>
							</div>
							<div id="collapseFive" class="card-body collapse" style="background-color:white" aria-labelledby="headingFive" data-parent="#accordionExample">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
								eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
								sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
								sustainable VHS.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingSix">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">List Scenario</a></h5>
							</div>
							<div id="collapseSix" class="card-body collapse" style="background-color:white" aria-labelledby="headingSix" data-parent="#accordionExample">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
								eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
								sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
								sustainable VHS.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingSeven">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSix">Generate</a></h5>
							</div>
							<div id="collapseSeven" class="card-body collapse" style="background-color:white" aria-labelledby="headingSeven" data-parent="#accordionExample">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
								eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
								sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
								sustainable VHS.
							</div>
						</div>
					</div>
				</div>
				<!-- [ accordion-collapse ] end -->
			</div>
			</div>
			<!-- [ Main Content ] end -->
		
                <!-- [ fixed-layout ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}