{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h4 > Project</h4>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Edit Project</h4>
      </div>
      <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleaddFeature">Nama Project</label>
              <input type="add_feature" class="form-control" id="exampleaddfeature"  placeholder="Input Feature">
            </div>
            <div class="form-group">
                <label for="exampleaddaction">Deskripsi Project</label>
                <input type="add_action" class="form-control" id="exampleaddaction"  placeholder="Input action">
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
            </form>
              </div>
            </div>
          </div>
        </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
