<style>
    .nav-item{
        position:relative;
    top: 10%;
    left: -80%;
    }
</style>
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="/list-project" class="nav-link">
             USER STORY SCENARIO TO USE CASE SPECIFICATION 
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank" 
                  href="https://github.com/AgileRE-2021/UserStoryScenToUseCaseSpec">KELOMPOK 2 KELAS I2 - PPL </a>
         - Get From <a target="_blank" href="https://github.com/AgileRE-2021/UserStoryScenToUseCaseSpec">Repository</a>.
      </div>
    </div>
  </footer>
